:root {
    --sidebar-width: 15rem;
    --navbar-height: 3rem;
}


body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#root {
    height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
    /* overflow: auto */
    /* grid-template-columns: var(--sidebar-width) calc(100% - var(--sidebar-width)); */
}

#navigation-bar {}

.main-panel {
    padding: .5rem;
    /* padding-top: 0; */
    min-width: calc(100% - var(--sidebar-width));
    flex-grow: 5;
    position: relative;
    height: 100%;
    /* height: calc(100vh - var(--navbar-height)); */
}